version: '3.1'
services:
  mysql:
    image: mysql:latest
    container_name: mysql
    hostname: mysql
    ports:
      - 3306:3306
    volumes:
      - ../mysql:/var/lib/mysql
      - ../docker/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    environment:
      MYSQL_DATABASE: '${MYSQL_DATABASE}'
      MYSQL_USER: '${MYSQL_USER}'
      MYSQL_PASSWORD: '${MYSQL_PASSWORD}'
      MYSQL_ROOT_PASSWORD: '${MYSQL_ROOT_PASSWORD}'
    restart: always

  phpmyadmin:
    depends_on:
      - mysql
    image: phpmyadmin/phpmyadmin:latest
    container_name: phpmyadmin
    hostname: phpmyadmin
    ports:
      - 8081:80
    environment:
      PMA_HOST: mysql
      MYSQL_ROOT_PASSWORD: '${MYSQL_ROOT_PASSWORD}'
    restart: always

  jupyter:
    depends_on:
      - mysql
    image: jupyter/scipy-notebook:latest
    container_name: jupyter
    hostname: jupyter
    ports:
      - 8888:8888
    volumes:
      - ../notebooks:/home/jovyan/work
    environment:
      MYSQL_HOST: mysql
      MYSQL_PORT: 3306
      MYSQL_DATABASE: '${MYSQL_DATABASE}'
      MYSQL_USER: '${MYSQL_USER}'
      MYSQL_PASSWORD: '${MYSQL_PASSWORD}'
    restart: always